<%- include('header') %>

<div class="choose-area pb_90" style="font-size: larger;">
   <div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="headline">
                <h2>About</h2>
            </div>
            <p style="font-size: large;">MediFast provides an all cumulative interface for all
                your medical needs including search for a hospital, building a medic community,
                immediate ambulance registration, search for normal health precautions, booking an
                appointment and all other emergency services.
                </p>
        
                <h3>Featured Services</h3>
                <p style="font-size: large;">Some of our featured services include:</p>
                <li><a href="/hospital">Hospitals you can connect with</a></li>
                <li><a href="/appointment">Appointment to Doctors</a></li>
                <li><a href="/ambulance">Ambulance Services</a></li>
                <li><a href="/Community">Community</a></div></li><br>
                

                <h3 class="mt-3">Our Mission</h3>
                <p style="font-size: large;">The mission of MediFast is to provide to our community: 
                easy and fast approach to clinical care that our patients recommend to their families and friends; 
                that physicians prefer for their patients; that purchasers select for their clients; 
                that employees are proud of, and that investors seek for long-term results.
                </p>
        </div>
    </div>
        
    </div>
</div>



<%- include('footer') %>