<%- include('header') %>

<div class="choose-area pb_90">
  <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <div class="headline">
          <h2>EMERGENCY REMEDIES</h2>
          <p>Do These Basics Until Help Arrives</p>
        </div>
      </div>
    </div>
    <hr>
    

    <div class="row">
      <div class="col-12">
        <div class="">
          <h4>1. Heart Attack/Chest Pain</h4>
        </div>
        <div class="">
          <img src="https://thebetterindia-english.s3.ap-south-1.amazonaws.com/uploads/2018/08/A-heart-attack-requires-first-aid-so-make-the-person-sit-in-a-comfortable-position..jpg" alt="Heart-attack" width="400" height="300">
        </div>
        <br>
        <div class="" style="width: 600px">
          <p>Treatment within the first 90 minutes of a heart attack dramatically increases the chances of survival. Before the person reaches a hospital, an aspirin tablet can lower the risk of clot formation.
            Seat the patient in a comfortable position. If breathing isn’t normal or the patient is unresponsive, hands-on CPR (Cardiopulmonary resuscitation) may be applied, to double the chances of survival.</p>
        </div>
      </div>
      <br><br><br>

      <div class="col-12">
        <div class="">
          <h4>2. Major Cuts</h4>
        </div>
        <div class="">
          <img src="https://thebetterindia-english.s3.ap-south-1.amazonaws.com/uploads/2018/08/For-a-cut-be-sure-to-apply-clean-dressing-after-administering-first-aid..jpg" alt="Major-cuts" width="400" height="300">
        </div>
        <div class="" style="width: 600px">
          <p>In case of wounds, follow the steps below:-</p>
            <ul>
              <li>Place patient in a suitable position, elevating the bleeding part, unless it is a fractured limb.</li>
              <li>Do not disturb any blood clots formed.</li>
              <li>Removing as little clothing as possible, expose the wound.</li>
              <li>Remove any foreign bodies which are visible, and can be easily picked out or wiped off with a clean dressing.</li>
              <li>Apply and maintain both direct and indirect pressure.</li>
              <li>Apply a clean dressing and bandage.</li>
              <li>Immobilise the injured part. When the wound is near a joint, immobilise it using splints if needed.</li>
            </ul>

        </div>
      </div>
      <br><br><br>

      <div class="col-12">
        <div class="">
          <h4>3.Heat Strokes</h4>
        </div>
        <div class="">
          <img src="https://thebetterindia-english.s3.ap-south-1.amazonaws.com/uploads/2018/08/The-first-aid-procedure-during-a-heat-stroke-requires-cooling-down-the-person..jpg" alt="Heat-Stroke" width="400" height="300">
        </div>
        <div class="" style="width: 600px">
          <p>In case of heat stroke, immediately move the patient out of the heat, remove excessive clothing, and cool them using whatever means possible, including <p>
            <ul>
              <li>Placing the person in a tub of cool water or a cool shower</li>
              <li>Spray with a garden hose</li>
              <li>Sponge with cold water</li>
              <li>Fan while misting with cool water</li>
              <li>Place ice packs or cool, wet towels on the neck, armpits and groin</li>
              <li>Cover with cool, damp sheets.</li>
            </ul>
        </div>
      </div>
      <br><br><br>

      <div class="col-12">
        <div class="">
          <h4>4. Fractures</h4>
        </div>
        <div class="">
          <img src="https://thebetterindia-english.s3.ap-south-1.amazonaws.com/uploads/2018/08/For-a-fracture-immobilise-the-affected-limb-as-a-first-aid-precaution..jpg" alt="Fractures" width="400" height="300">
        </div>
        <div class="" style="width: 600px">
          <p>Don’t move the patient till the injured part has been immobilised unless life is in immediate danger from some other cause. If, however, circumstances are such that final immobilisation cannot be completed on the spot, carry out a
            temporary fix to enable the patient to be moved for a short distance to more suitable and safe surroundings. Haemorrhage and severe wounds must be dealt with before continuing with the treatment of fractures, with due regard to
            requirements of both types of injuries.</p>
        </div>
      </div>
      <br><br><br>

      <div class="col-12">
        <div class="">
          <h4>5. Electrocution</h4>
        </div>
        <div class="">
          <img src="https://thebetterindia-english.s3.ap-south-1.amazonaws.com/uploads/2018/08/An-electric-shock-requires-immediate-first-aid.-1.jpg" alt="Electrocution" width="400" height="300">
        </div>
        <div class="" style="width: 600px">
          <ul>
            <li>Switch off the current, and if it cannot be put off, cut off supply by removing the plug, breaking the cable or wrenching it free. Never attempt to cut a cable with a knife or scissors.</li>
            <li>Remove the patient from contact with the current with the greatest care, using dry insulating materials. With domestic apparatus, gloves are good; a folded garment or newspaper gives fair protection.</li>
            <li>Reassure the patient.</li>
            <li>Lay the patient down on their back, with the head low and turned to one side unless there is an injury to the head, abdomen or chest when the head and shoulders should be slightly raised and supported.</li>
            <li>Loosen clothing around the neck, chest and waist.</li>
            <li>Wrap them in a blanket or rug.</li>
            <li>Give sips of water, coffee or any liquid but never alcohol.</li>
          </ul>
        </div>
      </div>
      <br><br><br>

      <div class="col-12">
        <div class="">
          <h4>6. Choking</h4>
        </div>
        <div class="">
          <img src="https://thebetterindia-english.s3.ap-south-1.amazonaws.com/uploads/2018/08/First-aid-for-choking-aims-to-dislodge-the-stuck-particle..jpg" alt="Choking" width="400" height="300">
        </div>
        <div class="" style="width: 600px">
          <p>This is when an obstruction blocks the windpipe, causing a person to be severely short of breath. Dislodge the respiratory tract obstruction by bending the patient’s head and shoulders forward, or in the case of a small child, hold them
            upside down and thump the back hard, between the shoulder-blades. Try inducing vomiting to help the person regurgitate the item causing the blockage.</p>
        </div>
      </div>
      <br><br><br>

      <div class="col-12">
        <div class="">
          <h4>7. Bites/Stings</h4>
        </div>
        <div class="" >
          <img src="https://thebetterindia-english.s3.ap-south-1.amazonaws.com/uploads/2018/08/A-bee-sting-can-be-painful-and-first-aid-can-alleviate-some-of-the-suffering..jpg" alt="Bites" width="400" height="300">
        </div>
        <div class="" style="width: 600px">
          <p>Dog and cat bites are usually small, punctured wounds and should be treated by covering with a clean, dry dressing. If the animal is rabid, please get medical emergency help immediately.</p>
            <ul>
              <li>Wash the wound with water to remove bacteria-filled saliva of the animal.</li>
              <li>Keep the bitten part low.</li>
              <li>Bathe the wound with a weak solution of permanganate of potash, if available.</li>
              <li>Apply a clean dressing after taking care that the wound has been cauterised.</li>
            </ul>
        </div>
      </div>
      <br><br><br>
    </div>

  </div>
</div>

<%- include('footer') %>
