
<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Medi<span>Fast</span></h3>

				<p class="footer-links">
					<a href="/" class="link-1">Home</a>
					
					<a href="/about">About</a>
				
					<a href="/hospital">Hospitals</a>
				
					<a href="/appointment">Appointment</a>
					
					<a href="/Community">Community</a>
					
					<a href="/contact">Contact</a>
				</p>

				<p class="footer-company-name">MediFast © 2020</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>444 M. Gandhi Road</span> Dhanbad, Jharkhand</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+91 9999999999</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">MediFast@organization.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the Organization</span>
					MediFast provides an all cumulative interface for all
                your medical needs including search for a hospital, building a medic community,
                immediate ambulance registration, search for normal health precautions, booking an
                appointment and all other emergency services.
				</p>

				<div class="footer-icons">


                    <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                    <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
                    <a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                    <a href="http://www.pinterest.com"><i class="fab fa-pinterest"></i></a>
                    <a href="http://www.youtube.com"><i class="fab fa-youtube"></i></a>
				</div>

			</div>

		</footer>