<!-- Address -->

<div class="feature-area feature-two bg-area pt_90 pb_90">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="headline">
                    <h4>Address</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <div class="feature-icon">
                        <br>
                        <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="feature-text">
                        <p>
                            3153 Foley Street<br> Miami, FL 33176
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <div class="feature-icon">
                        <br>
                        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="feature-text">
                        <p>
                            Sales: xxx-xxx-xxxx<br> Support: 963-612-1782
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <div class="feature-icon">
                        <br>
                        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="feature-text">
                        <p>
                            sales@yourwebsite.com<br> support@yourwebsite.com
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="aman">
                        <div class="footer-item">
                            <ul class="footer-social">
                                <li><a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="http://www.pinterest.com"><i class="fab fa-pinterest"></i></a></li>
                                <li><a href="http://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-bottom pt_50 pb_50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/terms">Terms and Conditions</a></li>
                        <li><a href="/privacypolicy">Privacy Policy</a></li>
                        <li><a href="/">Visitor: &nbsp;
                <img src='https://www.free-website-hit-counter.com/c.php?d=9&id=124065&s=5' border='0' alt='Free Website Hit Counter'>
              </a></li>
                    </ul>
                </div>
                <div class="copy-text">
                    <p>
                        Copyright © 2020
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer-Area End-->


<!-- JavaScript -->
<script>
    var i = 0;
    var txt = 'WELCOME TO MEDIFAST: FAST AND EFFECTIVE';
    var speed = 60;

    function typeWriter() {
        if (i < txt.length) {
            document.getElementById("typeit").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }
</script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
<!-- Plugin file -->
<script src="./js/addons/datatables.min.js"></script>
</body>




</html>