<%- include('header') %>

<div class="choose-area pb_90">
  <div class="container mt-4">
<div class="row">
  <div class="col-12">
    <div class="headline">
      <h2>Discussion Forum</h2>
    </div>
  </div>
</div>
<hr>

<div class="row">
    <div class="col-lg-3 col-md-2"></div>
    <div class="col-lg-6 col-md-8 login-box">
        <div class="col-lg-12 login-form">
            <div class="col-lg-12 login-form">
                <form action="/post" method="POST">
                    <div class="form-group">
                        <label class="form-control-label">YOUR NAME</label>
                        <input name="postName" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">EMAIL</label>
                        <input name="postEmail" type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">What You Wanna Talk About</label>
                        <input name="postQuestion" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">It's All Yours</label>
                        <input name="postMessage" type="text" class="form-control" i required>
                    </div>

                    <div class="col-lg-12 ">
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary">POST</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
</div>

<%- include('footer') %>
