<%- include('header') %>

<div class="choose-area pb_90">
  <div class="container mt-4">
<div class="row">
  <div class="col-12">
    <div class="headline">
      <h2>Discussion Forum</h2>
    </div>
  </div>
</div>
<hr>

</div>
</div>

<%- include('footer') %>
