<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>MediFast</title>
  <!-- Favicon -->
  <!--  <link rel="icon" type="image/jpg" href="assets/images/icon.jpg"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="assets/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/lib/css/fontawesome.min.css">
  <link rel="stylesheet" href="assets/lib/css/responsive.css">
  <link rel="stylesheet" href="assets/lib/css/select2.min.css">
  <link rel="stylesheet" href="assets/lib/css/spacing.css">
  <link rel="stylesheet" href="assets/lib/css/style.css">
  <link rel="stylesheet" href="assets/lib/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/lib/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="assets/lib/css/animate.css">
  <link rel="stylesheet" href="assets/lib/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="assets/lib/css/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/home.css">
  <link rel="stylesheet" href="assets/css/header.css">
  <link rel="stylesheet" href="assets/css/footer.css">

</head>

<body onLoad="typeWriter()">

  <!--Header Start-->
  <nav class="navbar navbar-expand-md navbar-light" id="header">
    <div class="home-icon"><i class="fas fa-user-md fa-4x home-icon"></i></div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            HOSPITALS
          </a>


        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            APPOINTMENT
          </a>


        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            AMBULANCE SERVICE
          </a>


        </li>

        <li class="nav-item">
          <a class="nav-link" href="/news">COMMUNITY</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--Header End-->
  <!--Banner Start-->
  <div class="banner-slider" style="background-image: url(assets/images/1.jpg)">
    <div class="bg"></div>
    <div class="bannder-table">
      <div class="banner-text">
        <h1 id="typeit"> </h1>
      </div>
    </div>
  </div>
  <!--Banner End-->
  <br>
  <!--Choose-Area Start-->
  <div class="choose-area pb_90">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="headline">
            <h2>WHY NEEDED</h2>
            <h3>The situation demands of a platform that we provide</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="choose-item flex" style="">
            <div class="choose-icon">
              <i class="fas fa-clock fa-3x home-icon" aria-hidden="true"></i>
            </div>
            <div class="choose-text">
              <h4>QUICK RESPONSE</h4>
              <p>
                Iisque persius ne sit, simul zril vix eu. Qui ne iusto epicuri suscipiantur, sit ne probo adhuc. Liber verterem interpretaris nam et, ea pro solum expetendis. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="choose-item flex" style="">
            <div class="choose-icon">
              <i class="fa fa-thumbs-up fa-3x home-icon" aria-hidden="true"></i>
            </div>
            <div class="choose-text">
              <h4>100% SATISFACTION</h4>
              <p>
                Duo luptatum delicata evertitur ad. Usu te quaerendum definitiones, ne mundi volutpat duo, in dissentias temporibus pri. Duo ferri dicant definitionem te. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="choose-item flex" style="">
            <div class="choose-icon">
              <i class="fa fa-globe fa-3x home-icon" aria-hidden="true"></i>
            </div>
            <div class="choose-text">
              <h4>QUALITY SERVICE</h4>
              <p>
                Amet dolor oratio ex has, stet repudiare definiebas vim ne. Id probo facilisis usu, pri aliquam omnesque cu. Vide assentior id qui, quando possim eos. </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="choose-item flex" style="">
            <div class="choose-icon">
              <i class="fa fa-globe fa-3x home-icon" aria-hidden="true"></i>
            </div>
            <div class="choose-text">
              <h4>PATIENT COMMUNITY</h4>
              <p>
                Amet dolor oratio ex has, stet repudiare definiebas vim ne. Id probo facilisis usu, pri aliquam omnesque cu. Vide assentior id qui, quando possim eos. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Choose-Area End-->

  <!--Feature-Area Start-->
  <div class="feature-area feature-two bg-area pt_90 pb_90">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="headline">
            <h2>SPECIAL FEATURES</h2>
            <h3>We offer some awesome features that will help you</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="feature-item">
            <div class="feature-icon">
              <br>
              <i class="fas fa-hospital-alt fa-3x" aria-hidden="true"></i>
            </div>
            <div class="feature-text">
              <h4>Planned Space Design</h4>
              <p>
                Liber utroque vim an, ne his brute vivendo, est fabulas consetetur appellantur an in dolore. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="feature-item">
            <div class="feature-icon">
              <br>
              <i class="fas fa-procedures fa-3x" aria-hidden="true"></i>
            </div>
            <div class="feature-text">
              <h4>Good Medical Facilities</h4>
              <p>
                Vix tale noluisse voluptua ad, ne brute altera democritum cum. Omnes ornatus qui et, te aeterno. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="feature-item">
            <div class="feature-icon">
              <br>
              <i class="fas fa-ambulance fa-3x" aria-hidden="true"></i>
            </div>
            <div class="feature-text">
              <h4>Best Ambulance Service</h4>
              <p>
                Mei ut errem legimus periculis, eos liber epicurei necessitatibus eu, facilisi postulant vel no. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="feature-item">
            <div class="feature-icon">
              <br>
              <i class="fas fa-laptop-medical fa-3x" aria-hidden="true"></i>
            </div>
            <div class="feature-text">
              <h4>Computerized Platform</h4>
              <p>
                Ex vix alienum sadipscing, quod melius philosophia id has. Ad qui quem reprimique, quo possit. </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--Feature-Area End-->

  <!--Services Start-->
  <div class="services-area pt_90 pb_90">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="headline">
            <h2>OUR SERVICES</h2>
            <h3>We are always here to serve you some awesome services</h3>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="services-item effect-item">
            <a href="/veiw2" class="image-effect">
              <div class="services-photo" style="background-image: url(assets/images/newborn.jpg)"></div>
            </a>
            <div class="services-text">
              <h3><a href="/view2">Newborn Care</a></h3>
              <p>
                Lorem ipsum dolor sit amet, an labores explicari qui, eu nostrum copiosae argum entum has. Latine propriae quo no unum. </p>
              <div class="button-bn">
                <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="services-item effect-item">
            <a href="/view2" class="image-effect">
              <div class="services-photo" style="background-image: url(assets/images/mothercare.jpg)"></div>
            </a>
            <div class="services-text">
              <h3><a href="/view2">Mother Care</a></h3>
              <p>
                Lorem ipsum dolor sit amet, an labores explicari qui, eu nostrum copiosae argum entum has. Latine propriae quo no unum. </p>
              <div class="button-bn">
                <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="services-item effect-item">
            <a href="/view2" class="image-effect">
              <div class="services-photo" style="background-image: url(assets/images/criticaltreatement.jpg)"></div>
            </a>
            <div class="services-text">
              <h3><a href="/view2">Critical Treatment</a></h3>
              <p>
                Lorem ipsum dolor sit amet, an labores explicari qui, eu nostrum copiosae argum entum has. Latine propriae quo no unum. </p>
              <div class="button-bn">
                <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
  <!--Services End-->
  <!-- TESTIMONIALS -->
  <section class="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="headline">
            <h2>TESTIMONIALS</h2>
            <h3>Our Clients and their reviews encourage us.</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div id="customers-testimonials" class="owl-carousel">

            <!--TESTIMONIAL 1 -->
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="assets/images/pat1.jpg" alt="uesr1">
                <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
              </div>
              <div class="testimonial-name">EMILIANO AQUILANI</div>
            </div>
            <!--END OF TESTIMONIAL 1 -->
            <!--TESTIMONIAL 2 -->
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="assets/images/pat2.jpg" alt="user2">
                <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
              </div>
              <div class="testimonial-name">ANNA ITURBE</div>
            </div>
            <!--END OF TESTIMONIAL 2 -->
            <!--TESTIMONIAL 3 -->
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="assets/images/pat3.jpg" alt="user3">
                <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
              </div>
              <div class="testimonial-name">LARA ATKINSON</div>
            </div>
            <!--END OF TESTIMONIAL 3 -->
            <!--TESTIMONIAL 4 -->
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="assets/images/doc1.jpg" alt="user4">
                <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
              </div>
              <div class="testimonial-name">IAN OWEN</div>
            </div>
            <!--END OF TESTIMONIAL 4 -->
            <!--TESTIMONIAL 5 -->
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="assets/images/doc2.jpg" alt="user4">
                <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
              </div>
              <div class="testimonial-name">MICHAEL TEDDY</div>
            </div>
            <!--END OF TESTIMONIAL 5 -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END OF TESTIMONIALS -->

  <!-- Address -->

  <div class="feature-area feature-two bg-area pt_90 pb_90">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="headline">
            <h4>Address</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="feature-item">
            <div class="feature-icon">
              <br>
              <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
            </div>
            <div class="feature-text">
              <p>
                3153 Foley Street<br>
                Miami, FL 33176
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="feature-item">
            <div class="feature-icon">
              <br>
              <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
            </div>
            <div class="feature-text">
              <p>
                Sales: xxx-xxx-xxxx<br>
                Support: 963-612-1782
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="feature-item">
            <div class="feature-icon">
              <br>
              <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
            </div>
            <div class="feature-text">
              <p>
                sales@yourwebsite.com<br>
                support@yourwebsite.com
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="aman">
              <div class="footer-item">
                <ul class="footer-social">
                  <li><a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="http://www.pinterest.com"><i class="fab fa-pinterest"></i></a></li>
                  <li><a href="http://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom pt_50 pb_50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer-menu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/terms">Terms and Conditions</a></li>
              <li><a href="/privacypolicy">Privacy Policy</a></li>
              <li><a href="/">Visitor: &nbsp;
                  <img src='https://www.free-website-hit-counter.com/c.php?d=9&id=124065&s=5' border='0' alt='Free Website Hit Counter'>
                </a></li>
            </ul>
          </div>
          <div class="copy-text">
            <p>
              Copyright © 2020
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Footer-Area End-->

  <script>
    var i = 0;
    var txt = 'WELCOME TO MEDIFAST: FAST AND EFFECTIVE';
    var speed = 60;

    function typeWriter() {
      if (i < txt.length) {
        document.getElementById("typeit").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, speed);
      }
    }
  </script>

</body>

<!-- JavaScript -->
<script type="text/javascript" src="assets/lib/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="assets/lib/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/lib/js/popper.min.js"></script>
<script type="text/javascript" src="assets/lib/js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="assets/lib/js/all.min.js"></script>
<script type="text/javascript" src="assets/lib/js/select2.full.min.js"></script>
<script type="text/javascript" src="assets/js/home.js"></script>
<script type="text/javascript" src="assets/js/footer.js"></script>


</html>
