<%- include('header') %>
    <!--Banner Start-->
    <div class="banner-slider" style="background-image: url(assets/images/1.jpg)">
        <div class="bg"></div>
        <div class="bannder-table">
            <div class="banner-text">
                <h1 id="typeit"> </h1>
            </div>
        </div>
    </div>
    <!--Banner End-->
    <br>
    <!--Choose-Area Start-->
    <div class="choose-area pb_90">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="headline">
                        <h2>WHY NEEDED</h2>
                        <h3>The situation demands of a platform that we provide</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="choose-item flex" style="">
                        <div class="choose-icon">
                            <i class="fas fa-clock fa-3x home-icon" aria-hidden="true"></i>
                        </div>
                        <div class="choose-text">
                            <h4>QUICK RESPONSE</h4>
                            <p>
                                Iisque persius ne sit, simul zril vix eu. Qui ne iusto epicuri suscipiantur, sit ne probo adhuc. Liber verterem interpretaris nam et, ea pro solum expetendis. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="choose-item flex" style="">
                        <div class="choose-icon">
                            <i class="fa fa-thumbs-up fa-3x home-icon" aria-hidden="true"></i>
                        </div>
                        <div class="choose-text">
                            <h4>100% SATISFACTION</h4>
                            <p>
                                Duo luptatum delicata evertitur ad. Usu te quaerendum definitiones, ne mundi volutpat duo, in dissentias temporibus pri. Duo ferri dicant definitionem te. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="choose-item flex" style="">
                        <div class="choose-icon">
                            <i class="fa fa-globe fa-3x home-icon" aria-hidden="true"></i>
                        </div>
                        <div class="choose-text">
                            <h4>QUALITY SERVICE</h4>
                            <p>
                                Amet dolor oratio ex has, stet repudiare definiebas vim ne. Id probo facilisis usu, pri aliquam omnesque cu. Vide assentior id qui, quando possim eos. </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="choose-item flex" style="">
                        <div class="choose-icon">
                            <i class="fa fa-globe fa-3x home-icon" aria-hidden="true"></i>
                        </div>
                        <div class="choose-text">
                            <h4>PATIENT COMMUNITY</h4>
                            <p>
                                Amet dolor oratio ex has, stet repudiare definiebas vim ne. Id probo facilisis usu, pri aliquam omnesque cu. Vide assentior id qui, quando possim eos. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Choose-Area End-->

    <!--Feature-Area Start-->
    <div class="feature-area feature-two bg-area pt_90 pb_90">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="headline">
                        <h2>SPECIAL FEATURES</h2>
                        <h3>We offer some awesome features that will help you</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="feature-item">
                        <div class="feature-icon">
                            <br>
                            <i class="fas fa-hospital-alt fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="feature-text">
                            <h4>Planned Space Design</h4>
                            <p>
                                Liber utroque vim an, ne his brute vivendo, est fabulas consetetur appellantur an in dolore. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-item">
                        <div class="feature-icon">
                            <br>
                            <i class="fas fa-procedures fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="feature-text">
                            <h4>Good Medical Facilities</h4>
                            <p>
                                Vix tale noluisse voluptua ad, ne brute altera democritum cum. Omnes ornatus qui et, te aeterno. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-item">
                        <div class="feature-icon">
                            <br>
                            <i class="fas fa-ambulance fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="feature-text">
                            <h4>Best Ambulance Service</h4>
                            <p>
                                Mei ut errem legimus periculis, eos liber epicurei necessitatibus eu, facilisi postulant vel no. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-item">
                        <div class="feature-icon">
                            <br>
                            <i class="fas fa-laptop-medical fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="feature-text">
                            <h4>Computerized Platform</h4>
                            <p>
                                Ex vix alienum sadipscing, quod melius philosophia id has. Ad qui quem reprimique, quo possit. </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Feature-Area End-->

    <!--Services Start-->
    <div class="services-area pt_90 pb_90">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="headline">
                        <h2>OUR SERVICES</h2>
                        <h3>We are always here to serve you some awesome services</h3>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="services-item effect-item">
                        <a href="/veiw2" class="image-effect">
                            <div class="services-photo" style="background-image: url(assets/images/newborn.jpg)"></div>
                        </a>
                        <div class="services-text">
                            <h3><a href="/view2">Newborn Care</a></h3>
                            <p>
                                Lorem ipsum dolor sit amet, an labores explicari qui, eu nostrum copiosae argum entum has. Latine propriae quo no unum. </p>
                            <div class="button-bn">
                                <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services-item effect-item">
                        <a href="/view2" class="image-effect">
                            <div class="services-photo" style="background-image: url(assets/images/mothercare.jpg)"></div>
                        </a>
                        <div class="services-text">
                            <h3><a href="/view2">Mother Care</a></h3>
                            <p>
                                Lorem ipsum dolor sit amet, an labores explicari qui, eu nostrum copiosae argum entum has. Latine propriae quo no unum. </p>
                            <div class="button-bn">
                                <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services-item effect-item">
                        <a href="/view2" class="image-effect">
                            <div class="services-photo" style="background-image: url(assets/images/criticaltreatement.jpg)"></div>
                        </a>
                        <div class="services-text">
                            <h3><a href="/view2">Critical Treatment</a></h3>
                            <p>
                                Lorem ipsum dolor sit amet, an labores explicari qui, eu nostrum copiosae argum entum has. Latine propriae quo no unum. </p>
                            <div class="button-bn">
                                <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!--Services End-->


    
    <%- include('footer') %>